settings:
  clusterName: {{ .Values.karpenter.cluster_name | quote }}
  interruptionQueue: {{ .Values.karpenter.queue_name | quote }}

controller:
  image:
    repository: {{ printf "%s/karpenter/controller" .Values.registry.upstreams.ecrPublic | quote }}
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 250m
      memory: 512Mi

# On the system node group, never on a node it manages itself
nodeSelector:
  kubernetes.io/os: linux
  armonik.aneo.fr/node-group: system
