services:
  nginx:
    image: nginxinc/nginx-unprivileged:1.29.5-alpine-slim
    container_name: nginx_mcp
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ${NGINX_SERVER_CRT}:/ingress/ingress.crt
      - ${NGINX_SERVER_KEY}:/ingress/ingress.key
      - ${NGINX_CLIENT_CA}:/ingressclient/ca.crt
    network_mode: "host"

  akloadbalancer:
    image: dockerhubaneo/armonik_load_balancer:${MCP_TAG}
    container_name: mcp
    network_mode: "host"
    volumes:
      - ${MCP_CRT}:/cert/mcp.crt
      - ${MCP_KEY}:/cert/mcp.key
      - ${CACERT}:/cacert/ca.crt
    environment:
      - RUST_LOG=info,armonik=info,load_balancer=debug
      - LoadBalancer__Clusters__Local__Cert_Pem=/cert/mcp.crt
      - LoadBalancer__Clusters__Local__Key_Pem=/cert/mcp.key
      - LoadBalancer__Clusters__Local__Ca_Cert=/cacert/ca.crt
      - LoadBalancer__Clusters__Local__Endpoint=${CONTROL_PLANE_URL}
      - LoadBalancer__Refresh_Delay=120
