name: Formatting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Show commit SHA
        run: |
          git rev-parse HEAD
          git rev-parse --short HEAD
      - name: Install terraform
        run: |
          if ! which terraform 2>/dev/null; then
            sh tools/installation/prerequisites/install-terraform.sh
          fi
      - name: Check Format
        run: terraform fmt -check -recursive -diff
